{% extends 'base_dash.html' %}

{%block title_dash%}Dashboard - Última Semana{%endblock%}

{% block content %}
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

<h2>Leituras Médias dos Dispositivos</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Device</th>
        <th>Temperatura</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {% for temp in temps %}
      <tr>
        <td>{{temp.devpk}}</td>
        <td>{{temp.temp}}</td>
        <td>{{temp.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
<h2>Dispositivos na rede</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Mac Address</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      {%for device in devices%}
      <tr>
        <td>{{device.pk}}</td>
        <td>{{device.device_mac}}</td>
        <td>{{device.description}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}

{%block extra_scripts%}
<script>
  var temps = JSON.parse('{{ temps_graph|safe }}');
  var dates = JSON.parse('{{ dates_graph|safe }}');
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        data: temps,
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
{%endblock%}